<h1>本の名前検索</h1>
<form id="bookSearch">
  <input type="text" id="bookTitle" placeholder="検索キーワードを入力">
  <input type="submit" value="検索">
</form>

<%= form_for(@catchcopy) %>
  <ul class="book-list" id="bookList"></ul>
<% end %>