<div class="search-form">
<h1>本の名前検索</h1>
<form id="bookSearch">
  <input type="text" id="bookTitle" placeholder="検索キーワードを入力">
  <input type="submit" value="検索">
</form>
</div>
  <%= form_tag('/catchcopies/new', method: :get) do  %>
      <ul class="book-list" id="bookList"></ul>
      <div class="search-form">
      <input type="submit" value="投稿画面へ移動">
      </div>
  <% end %> 
