// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@charset "utf-8";
body{
    background-color: yellowgreen;
    font-size: 20px;
    font-family: serif;
    margin-top: 50px;
}

.search-form{
    text-align: center;
}

.book-list{
    margin-left: 35px;
}

.show-content{
    display: inline-block;
    margin-left: 120px;
}

.show-description{
    background-color: whitesmoke;
    font-family: serif;
    width: 580px;
}

img{
    width: 260px;
    height: auto;
}




