// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@charset "utf-8";
body{
    background-color: yellowgreen;
    font-size: 20px;
    margin-top: 120px;
}

.search-form{
    text-align: center;
}

.book-list{
    margin-left: 300px;
}



