 <h1 class="index-title">投稿一覧</h1>
<% @catchcopies.each do |catchcopy| %>
<ul>
  <li class="index-content">
   <h2><%= catchcopy.content %></h2>
   <a href= "/books/<%= catchcopy.book.id %>"><%= catchcopy.book.title %></a>
  </li>
</ul> 
<% end %>