 <h1>投稿一覧</h1>
<% @catchcopies.each do |catchcopy| %>
<ul>
    <li><%= catchcopy.content %>
    <%= catchcopy.book.title%>
    <img src="<%= catchcopy.book.image_url%>">
    <a href= "/books/<%= catchcopy.book.id%>/show">この本を見に行く</a>
    </li>
</ul>    
<% end %>