<body>
  <div class="catchcopy-new-form">
     <% @catchcopy = Catchcopy.new unless @cathcopy %>
     <h1>キャッチコピー</h1>
     <%= form_for @catchcopy do |f| %>
       <%= f.hidden_field :book_id, value: @book.id %>
       <%= f.text_area :content %>
       <h3><%= f.submit "投稿" %></h3>
     <% end %>
  </div>
</body>



